.project-list {
  display: flex;
  flex-direction: column; /* Change direction to column for stacking */
  gap: 20px; /* Add space between the stacked items */
  margin: 20px;
}

.project-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-title {
  color: #0366d6;
  font-size: 18px;
  margin-bottom: 5px;
}

.project-description {
  color: #333;
  margin-bottom: 10px;
}

.project-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.project-icons i {
  font-size: 20px;
  color: #333;
}

.btn-project,
.btn-contribution {
  background-color: #f0f0f0;
  border: none;
  border-radius: 25px;
  padding: 6px 15px;
  font-size: 14px;
  cursor: pointer;
  text-transform: capitalize;
}

.btn-project:hover {
  background-color: #0366d6;
  color: white;
}

.btn-contribution:hover {
  background-color: #28a745;
  color: white;
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
  }
}


/* For devices with a width of up to 600px */
@media (max-width: 600px) {
    /* Styles for mobile devices */
}

/* For devices between 601px and 768px */
@media (min-width: 601px) and (max-width: 768px) {
    /* Styles for larger mobile devices (landscape) */
}

/* For devices between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets */
}

/* For devices between 1025px and 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* Styles for small laptops and larger tablets */
}

/* For devices between 1281px and 1440px */
@media (min-width: 1281px) and (max-width: 1440px) {
    /* Styles for laptops and desktops */
}

/* For devices 1441px and above */
@media (min-width: 1441px) {
    /* Styles for large desktops */
}

