/* Navbar.css */
.navbar {
  display: flex;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: monospace;
  font-size: 1px;
}

.sidebar-toggle button {
  font-size: 18px;
  background: none;
  border: none;
}

.logo-section {
  display: flex;
  align-items: left;
  /* margin-left: -430px; */
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.username {
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
}

.nav-links {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #0366d6;
  font-size: 16px;
  margin-left: 35px;
}

.badge {
  background-color: #ddd;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 12px;
}

.search-bar {
  flex-grow: 1;
  padding: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.action-icons {
  display: flex;
  align-items: center;
  height: 10px;
  margin-top: 7px;
  margin-left: 380px;
}

.action-icons button {
  font-size: 18px;
  background: none;
  border: none;
}

.profile-pic {
  width: 30px;
  height: 10px;
  border-radius: 50%;
}

/* For devices with a width of up to 600px */
@media (max-width: 600px) {
    /* Styles for mobile devices */
}

/* For devices between 601px and 768px */
@media (min-width: 601px) and (max-width: 768px) {
    /* Styles for larger mobile devices (landscape) */
}

/* For devices between 769px and 1024px */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Styles for tablets */
}

/* For devices between 1025px and 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
    /* Styles for small laptops and larger tablets */
}

/* For devices between 1281px and 1440px */
@media (min-width: 1281px) and (max-width: 1440px) {
    /* Styles for laptops and desktops */
}

/* For devices 1441px and above */
@media (min-width: 1441px) {
    /* Styles for large desktops */
}

